/*全站設定*/
/* 字體載入 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}


/* media query 範本 */
/* extrasmall最小0-575 */
@media screen and (max-width: 575px) {
     /* header區主導覽 */
 .header{
    width: 100%;
    height: 100px;
    }
.header .wrap{
    display: flex;
    padding: 10px;
    max-width: 350px;
    margin: auto;
    align-items: center;
}
.header .logo{
width: 100px;
}
.header .logo img{
    width: 100%;
    vertical-align: middle;
}
.header .mainNav{
    margin: 0 auto;
    text-align: right;
    font-size: 0;
    display: none;/*以下test*/
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

  nav ul {

  }
.header .mainNav a{
color: #000;
font-size: 16px;
text-decoration: none;
padding: 5px 0.5em;
margin: 0 10px;
position: relative;
text-align: center;/*test*/
}
.header .mainNav a:hover{
color:#679b9b;
}
.header .mainNav a:after{
content: "";
position: absolute;
left: 50%;
right: 50%;
bottom: -5px;
height: 0;
border-bottom: 1px solid #679b9b;
transition: .3s;

}
.header .mainNav a:hover:after{
left: 0;
right: 0;
}
/* banner大圖區 */
.banner{
    width:100%; 
    position:relative; 
    overflow:hidden; 
    height:300px;
}
.bannerCard{
    width:575px;/*圖片寬度*/ 
    position:absolute;  
    margin-left:-287px;/*圖片寬度的一半*/
    margin: 20px 0;
}
.bannerCard img{
width: 100%;
height: 300px;

}
.bannerText{
top: 40%;
left: 15%;
position: absolute;
color:#000;
font-size: 0;
padding: 20px;
background-color: rgba(255,255,255,0.2);
box-shadow:3px 3px 12px gray;

}
.bannerText h1{
font-size: 24px;
line-height: 2.5;
}
.bannerText h2{
font-size: 20px;
line-height: 1.5;
}
/* 商品區 */
.product .wrap{
width: 350px;
margin: 0 auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.product .wrap .item{
font-size: 0;
}
.item a{
text-decoration: none;
color: #333;
}
.item a:hover{
color:#679b9b;
transition: .3s;
}
.product .wrap .item img{
width: 120px;
height: 120px;
padding: 20px;
;    }
.product .wrap .item h3,.product .wrap .item p{
font-size: 20px;
text-align: center;
padding-bottom: 10px;
}
.product .wrap .item p{
font-weight: bolder;
}
/*news最新消息區*/
.news .wrap{
width: 100%;
margin: 20px auto;
display: flex;
justify-content:flex-end;
position: relative;
}

.newsText{
background-color: rgba(238,238,238,0.9);    
font-size: 16px;
line-height: 2;
min-width: 82%;
min-height: 150px;
position: absolute;
top:10px;
left: 10px;
padding:10px 30px;

}
.newsText a{
text-decoration: none;
color: #679b9b;
}
.newsImg img{
width: 700px;
height: 200px;
/* display:none; */
}
/* footer區 */
.footer .wrap{
width: 350px;
margin: 50px auto;
text-align: center;
}
}
/* small小 576 ~ 767 px	 */
@media screen and (min-width: 576px) and (max-width: 767px) {
 /* header區主導覽 */
 .header{
    width: 100%;
    height: 100px;
    }
.header .wrap{
    display: flex;
    padding: 10px;
    max-width: 550px;
    margin: auto;
    align-items: center;
}
.header .logo{
width: 100px;
}
.header .logo img{
    width: 100%;
    vertical-align: middle;
}
.header .mainNav{
    margin: 0 auto;
    text-align: right;
    font-size: 0;
}
.header .mainNav a{
color: #000;
font-size: 16px;
text-decoration: none;
padding: 5px 0.5em;
margin: 0 10px;
position: relative;
}
.header .mainNav a:hover{
color:#679b9b;
}
.header .mainNav a:after{
content: "";
position: absolute;
left: 50%;
right: 50%;
bottom: -5px;
height: 0;
border-bottom: 1px solid #679b9b;
transition: .3s;

}
.header .mainNav a:hover:after{
left: 0;
right: 0;
}
/* banner大圖區 */
.banner{
    width:100%; 
    position:relative; 
    overflow:hidden; 
    height:300px;
}
.bannerCard{
    width:767px;/*圖片寬度*/ 
    position:absolute;  
    margin-left:-383px;/*圖片寬度的一半*/
    margin: 20px 0;
}
.bannerCard img{
width: 100%;
height: 300px;

}
.bannerText{
top: 40%;
left: 15%;
position: absolute;
color:#000;
font-size: 0;
padding: 20px;
background-color: rgba(255,255,255,0.2);
box-shadow:3px 3px 12px gray;

}
.bannerText h1{
font-size: 24px;
line-height: 2.5;
}
.bannerText h2{
font-size: 20px;
line-height: 1.5;
}
/* 商品區 */
.product .wrap{
width: 550px;
margin: 0 auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.product .wrap .item{
font-size: 0;
}
.item a{
text-decoration: none;
color: #333;
}
.item a:hover{
color:#679b9b;
transition: .3s;
}
.product .wrap .item img{
width: 200px;
height: 200px;
padding: 20px;
;    }
.product .wrap .item h3,.product .wrap .item p{
font-size: 20px;
text-align: center;
padding-bottom: 10px;
}
.product .wrap .item p{
font-weight: bolder;
}
/*news最新消息區*/
.news .wrap{
width: 100%;
margin: 20px auto;
display: flex;
justify-content:flex-end;
position: relative;
}

.newsText{
background-color: rgba(238,238,238,0.9);    
font-size: 18px;
line-height: 2;
min-width: 50%;
min-height: 100px;
position: absolute;
top:20px;
left: 15px;
padding:10px 50px;

}
.newsText a{
text-decoration: none;
color: #679b9b;
}
.newsImg img{
width: 700px;
height: 200px;
}
/* footer區 */
.footer .wrap{
width: 550px;
margin: 50px auto;
text-align: center;
}
}
/* medium中 768 ~ 991 px	 */
@media screen and (min-width: 768px) and (max-width: 991px) {
 /* header區主導覽 */
 .header{
    width: 100%;
    height: 100px;
    }
.header .wrap{
    display: flex;
    padding: 10px;
    max-width: 750px;
    margin: auto;
    align-items: center;
}
.header .logo{
width: 100px;
}
.header .logo img{
    width: 100%;
    vertical-align: middle;
}
.header .mainNav{
    margin: 0 auto;
    text-align: right;
    font-size: 0;
}
.header .mainNav a{
color: #000;
font-size: 16px;
text-decoration: none;
padding: 5px 1em;
margin: 0 10px;
position: relative;
}
.header .mainNav a:hover{
color:#679b9b;
}
.header .mainNav a:after{
content: "";
position: absolute;
left: 50%;
right: 50%;
bottom: -5px;
height: 0;
border-bottom: 1px solid #679b9b;
transition: .3s;

}
.header .mainNav a:hover:after{
left: 0;
right: 0;
}
/* banner大圖區 */
.banner{
    width:100%; 
    position:relative; 
    overflow:hidden; 
    height:300px;
}
.bannerCard{
    width:991px;/*圖片寬度*/ 
    position:absolute;  
    margin-left:-495px;/*圖片寬度的一半*/
    margin: 20px 0;
}
.bannerCard img{
width: 100%;
height: 300px;

}
.bannerText{
top: 40%;
left: 15%;
position: absolute;
color:#000;
font-size: 0;
padding: 20px;
background-color: rgba(255,255,255,0.2);
box-shadow:3px 3px 12px gray;

}
.bannerText h1{
font-size: 24px;
line-height: 2.5;
}
.bannerText h2{
font-size: 20px;
line-height: 1.5;
}
/* 商品區 */
.product .wrap{
width: 750px;
margin: 0 auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.product .wrap .item{
font-size: 0;
}
.item a{
text-decoration: none;
color: #333;
}
.item a:hover{
color:#679b9b;
transition: .3s;
}
.product .wrap .item img{
width: 240px;
height: 240px;
padding: 20px;
;    }
.product .wrap .item h3,.product .wrap .item p{
font-size: 20px;
text-align: center;
padding-bottom: 10px;
}
.product .wrap .item p{
font-weight: bolder;
}
/*news最新消息區*/
.news .wrap{
width: 750px;
margin: 20px auto;
display: flex;
justify-content:flex-end;
position: relative;
}

.newsText{
background-color: rgba(238,238,238,0.8);    
font-size: 18px;
line-height: 2;
min-width: 50%;
min-height: 100px;
position: absolute;
top:20px;
left: 15px;
padding:10px 50px;

}
.newsText a{
text-decoration: none;
color: #679b9b;
}
.newsImg img{
width: 700px;
height: 200px;
}
/* footer區 */
.footer .wrap{
width: 750px;
margin: 50px auto;
text-align: center;
}
}
/* large大 992 ~ 1199 px		 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
 /* header區主導覽 */
 .header{
    width: 100%;
    height: 100px;
    }
.header .wrap{
    display: flex;
    padding: 10px;
    max-width: 900px;
    margin: auto;
    align-items: center;
}
.header .logo{
width: 100px;
}
.header .logo img{
    width: 100%;
    vertical-align: middle;
}
.header .mainNav{
    margin: 0 auto;
    text-align: right;
    font-size: 0;
}
.header .mainNav a{
color: #000;
font-size: 16px;
text-decoration: none;
padding: 5px 1em;
margin: 0 10px;
position: relative;
}
.header .mainNav a:hover{
color:#679b9b;
}
.header .mainNav a:after{
content: "";
position: absolute;
left: 50%;
right: 50%;
bottom: -5px;
height: 0;
border-bottom: 1px solid #679b9b;
transition: .3s;

}
.header .mainNav a:hover:after{
left: 0;
right: 0;
}
/* banner大圖區 */
.banner{
    width:100%; 
    position:relative; 
    overflow:hidden; 
    height:300px;
}
.bannerCard{
    width:1199px;/*圖片寬度*/ 
    position:absolute;  
    margin-left:-599px;/*圖片寬度的一半*/
    margin: 20px 0;
}
.bannerCard img{
width: 100%;
height: 300px;

}
.bannerText{
top: 40%;
left: 15%;
position: absolute;
color:#000;
font-size: 0;
padding: 20px;
background-color: rgba(255,255,255,0.2);
box-shadow:3px 3px 12px gray;

}
.bannerText h1{
font-size: 24px;
line-height: 2.5;
}
.bannerText h2{
font-size: 20px;
line-height: 1.5;
}
/* 商品區 */
.product .wrap{
width: 900px;
margin: 0 auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.product .wrap .item{
font-size: 0;
}
.item a{
text-decoration: none;
color: #333;
}
.item a:hover{
color:#679b9b;
transition: .3s;
}
.product .wrap .item img{
width: 240px;
height: 240px;
padding: 20px;
;    }
.product .wrap .item h3,.product .wrap .item p{
font-size: 20px;
text-align: center;
padding-bottom: 10px;
}
.product .wrap .item p{
font-weight: bolder;
}
/*news最新消息區*/
.news .wrap{
width: 900px;
margin: 20px auto;
display: flex;
justify-content:flex-end;
position: relative;
}

.newsText{
background-color: rgba(238,238,238,0.7);    
font-size: 18px;
line-height: 2;
min-width: 50%;
min-height: 100px;
position: absolute;
top:20px;
left: 15px;
padding:10px 50px;

}
.newsText a{
text-decoration: none;
color: #679b9b;
}
.newsImg img{
width: 700px;
height: 200px;
}
/* footer區 */
.footer .wrap{
width: 900px;
margin: 50px auto;
text-align: center;
}
}
/* extralarge最大 1200 px 以上		 */
@media screen and (min-width: 1200px) {
    /* header區主導覽 */
    .header{
        width: 100%;
        height: 100px;
        }
    .header .wrap{
        display: flex;
        padding: 10px;
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }
    .header .logo{
    width: 100px;
    }
    .header .logo img{
        width: 100%;
        vertical-align: middle;
    }
    .header .mainNav{
        margin: 0 auto;
        text-align: right;
        font-size: 0;
    }
    .header .mainNav a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 1em;
    margin: 0 10px;
    position: relative;
}
.header .mainNav a:hover{
    color:#679b9b;
}
.header .mainNav a:after{
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #679b9b;
    transition: .3s;
    
}
.header .mainNav a:hover:after{
    left: 0;
    right: 0;
}
/* banner大圖區 */
.banner{
    width:100%; 
    position:relative; 
    overflow:hidden; 
    height:300px;
}
.bannerCard{
    width:1920px;/*圖片寬度*/ 
    position:absolute;  
    margin-left:-960px;/*圖片寬度的一半*/
    margin: 20px 0;
}
.bannerCard img{
    width: 100%;
    height: 300px;

}
.bannerText{
    top: 40%;
    left: 15%;
    position: absolute;
    color:#000;
    font-size: 0;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    box-shadow:3px 3px 12px gray;
    
}
.bannerText h1{
    font-size: 24px;
    line-height: 2.5;
}
.bannerText h2{
    font-size: 20px;
    line-height: 1.5;
}
/* 商品區 */
.product .wrap{
width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.product .wrap .item{
font-size: 0;
}
.item a{
    text-decoration: none;
    color: #333;
}
.item a:hover{
    color:#679b9b;
    transition: .3s;
}
.product .wrap .item img{
width: 240px;
height: 240px;
padding: 20px;
;    }
.product .wrap .item h3,.product .wrap .item p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}
.product .wrap .item p{
    font-weight: bolder;
}
/*news最新消息區*/
.news .wrap{
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content:flex-end;
    position: relative;
}

.newsText{
    background-color: rgba(238,238,238,0.5);    font-size: 18px;
    line-height: 2;
    min-width: 50%;
    min-height: 100px;
position: absolute;
top:20px;
left: 30px;
padding:10px 50px;

}
.newsText a{
    text-decoration: none;
    color: #679b9b;
}
.newsImg img{
    width: 700px;
    height: 200px;
 }
/* footer區 */
.footer .wrap{
    width: 1200px;
    margin: 50px auto;
    text-align: center;
}
}

